/* Загальні */
:root {
  --main-text-color: #212121;
  --hover-color: #2196f3;
  --text-color: #757575;
  --white: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

.header-logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}
.web {
  color: #2196f3;
}

.list {
  list-style: none;
  margin: 0;
  padding-inline-start: 0px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Хедер */

.header-page {
  border-bottom: 1px solid #ececec;
  padding: 24px 0px;
}
.header-list-item:not(:first-child) {
  margin-left: 50px;
}

.header-page .container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
}

.header-list {
  display: flex;
}
.header-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-contacts {
  margin-left: auto;
}

.contact-list {
  display: flex;
}

.link {
  text-decoration: none;
  color: inherit;
}

.active-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--hover-color);
}
.header-list-link:hover,
.header-list-link:focus {
  color: var(--hover-color);
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-left: 50px;
}

.contact-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-mail{
  margin-top: auto;
}

.header-contact:hover ,
.header-contact:focus {
  color: var(--hover-color);
}
.header-icon{
  fill: var(--text-color);
  margin-right: 10px;  
}
.header-contact:hover .header-icon {
  fill: var(--hover-color);
}

.button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  cursor: pointer;
  padding: 10px 32px;
}
.button:hover,
.button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Основний контент */

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.main-block {
  /* height: 600px; */
  background-color: #2f303a;
  background-image:
  linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url(../images/main-bg.jpg);
  max-width: 1600px;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  padding: 200px 0px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* секція 2 */
/* прихований заголовок*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-two .list-two {
  display: flex;
  justify-content: center;
}

.list-item-two:not(:first-child) {
  margin-left: 30px;
}

.section-two {
  padding-top: 94px;
  padding-bottom: 94px;
}

.subtitle-two {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.text-two {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--text-color);
}

.pic-icons{
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
  justify-content: center;
}


/* чим займаємось */

.work {
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  justify-content: center;
}

.work-item:not(:first-child) {
  margin-left: 30px;
}

/* наша команда */
.team-list {
  display: flex;
  justify-content: center;
}

.photo {
  display: block;
}
.team-person {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item {
  width: 270px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:first-child) {
  margin-left: 30px;
}
.subtitle-three {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.text-three {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

.team {
  background-color: #f5f4fa;
  padding: 94px 0px;
}
.social-icons{
  display: flex;
  justify-content:center;
}
.social-item{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 10px;
}
.social-item:last-child{
  margin-right: 0px;
}

.social-item:hover{
  background-color: var(--hover-color);
}
.social-link{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon{
  fill: var(--text-color);
}

.social-link:hover .social-icon{
  fill: var(--white);
}

/* постійні клієнти */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-list{
  display: flex;
  justify-content: center;
}

.customers-item {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  background-color: var(--white);
}
.customers-item:not(:last-child){
  margin-right: 30px;
}

.customers-link{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-icon {
  fill: var(--text-color);
}

.customers-item:hover{
  border-color: var(--hover-color);
}
.customers-link:hover .customer-icon{
  fill: var(--hover-color);
}

/* Портфоліо */
.portfolio-main {
  padding: 94px 0px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio-subtitle {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item {
  background: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  cursor: pointer;
  padding: 6px 22px;
}

.button-item:hover,
.button-item:focus {
  background: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--white);
}
.portfolio-buttom:not(:first-child) {
  margin-left: 8px;
}

/* Список проектів */

/* .projects-list .project-item {
  width: 370px;
  flex-basis: calc((100% - 60px) / 3);
} */

.project-item:hover, 
.project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  /* flex-basis: calc((100%-60px)/3); */
}



.description {
  width: 370px;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

/* Футер */
.footer {
  background-color: #2f303a;
  padding: 60px 0px;
}

.footer-logo {
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--white);
}
.footer-adres:hover,
.footer-adres:focus {
  color: var(--hover-color);
}
.footer-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--hover-color);
}

.addres-item {
  margin-bottom: 9px;
}

.footer-title{
  align-items: center;
  height: 31px;
  font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.footer-list{
  display: flex;
}

.footer-list .address{
  margin-right: 70px;
}
.footer-list .social-item{
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-list .social-icon{
  fill: var(--white);
}
