/* Загальні */
:root {
  --main-text-color: #212121;
  --hover-color: #2196f3;
  --text-color: #757575;
  --icons: #afb1b8;
  --white: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

.header-logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}
.web {
  color: #2196f3;
}

.list {
  list-style: none;
  margin: 0;
  padding-inline-start: 0px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Хедер */

.header-page {
  border-bottom: 1px solid #ececec;
  padding: 24px 0px;
}

.header-list-item:not(:first-child) {
  margin-left: 50px;
}

.header-page .container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
}

.header-list {
  display: flex;
}
.header-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 32px 0;
}

.header-contacts {
  margin-left: auto;
}

.contact-list {
  display: flex;
}

.link {
  text-decoration: none;
  color: inherit;
}

.active-link {
  color: var(--hover-color);
}

.active-link::after {
  position: absolute;
  content: " ";
  height: 4px;
  width: 100%;
  background: var(--hover-color);
  border-radius: 2px;
  bottom: 1px;
  left: 0;
  display: block;
}

.header-list-link:hover,
.header-list-link:focus {
  color: var(--hover-color);
}

.header-contact {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-left: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-mail {
  margin-top: auto;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--hover-color);
}
.header-icon {
  fill: var(--text-color);
  margin-right: 10px;
}
.header-contact:hover .header-icon {
  fill: var(--hover-color);
}

.button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  cursor: pointer;
  padding: 10px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Основний контент */

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.main-block {
  /* height: 600px; */
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main-bg.jpg);
  max-width: 1600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  padding: 200px 0px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* секція 2 */
/* прихований заголовок*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-two .list-two {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.list-item-two {
  width: 270px;
}

.section-two {
  padding-top: 94px;
  padding-bottom: 94px;
}

.subtitle-two {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.text-two {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--text-color);
}

.pic-icons {
  height: 120px;
  display: flex;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

/* чим займаємось */

.work {
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  justify-content: center;
}

.work-item:not(:first-child) {
  margin-left: 30px;
}

.work-item {
  position: relative;
}
.work-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  position: absolute;
  bottom: 0;
}

/* наша команда */
.team-list {
  display: flex;
  justify-content: center;
}

.photo {
  display: block;
}
.team-person {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item {
  width: 270px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:first-child) {
  margin-left: 30px;
}
.subtitle-three {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.text-three {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

.team {
  background-color: #f5f4fa;
  padding: 94px 0px;
}
.social-icons {
  display: flex;
  justify-content: center;
}
.social-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:last-child {
  margin-right: 0px;
}

.social-item:hover {
  background-color: var(--hover-color);
}

.social-link:hover .social-icon {
  fill: var(--white);
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: var(--icons);
}

/* постійні клієнти */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-list {
  display: flex;
  justify-content: center;
}

.customers-item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons);
  border-radius: 4px;
  background-color: var(--white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item:not(:last-child) {
  margin-right: 30px;
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon {
  fill: var(--icons);
}

.customers-item:hover {
  border-color: var(--hover-color);
}
.customers-link:hover .customer-icon {
  fill: var(--hover-color);
}

/* Портфоліо */
.portfolio-main {
  padding: 94px 0px;
}

.portfolio-text {
  font-size: 16px;
  line-height: calc(30/16);
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio-subtitle {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item {
  background: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  cursor: pointer;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item:hover,
.button-item:focus {
  background: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--white);
}
.portfolio-buttom:not(:first-child) {
  margin-left: 8px;
}

/* Список проектів */

/* .projects-list .project-item {
  width: 370px;
  flex-basis: calc((100% - 60px) / 3);
} */

.project-link {
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.description {
  width: 370px;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-pic {
  position: relative;
  overflow: hidden;
}

.project-overflow {
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-overflow {
  transform: translateY(0%);
}

/* Футер */
.footer {
  background-color: #2f303a;
  padding: 60px 0px;
}

.footer-logo {
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address:hover,
.footer-address:focus {
  color: var(--hover-color);
}
.footer-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--hover-color);
}

.addres-item {
  margin-bottom: 9px;
}

.footer-title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  align-items: baseline;
}

.footer-list .address {
  margin-right: 70px;
}
.footer-list .social-item {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-list .social-item:hover {
  background-color: var(--hover-color);
}
.footer-list .social-icon {
  fill: var(--white);
}

/* модальне вікно */
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-backdrop.is-hidden .modal {
  transform: rotate(-180deg);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: animate__bounceOut;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #0000001a;
  cursor: pointer;
}

.close-sign {
  fill: #000000;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
