/* Загальні */
:root {
  --main-text-color: #212121;
  --hover-color: #2196f3;
  --text-color: #757575;
  --white: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--white);
}

.header-logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}
.web {
  color: #2196f3;
}

.list {
  list-style: none;
  margin: 0;
  padding-inline-start: 0px;
}
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Хедер */

.header-page {
  border-bottom: 1px solid #ececec;
  padding: 24px 0px;
}
.header-list-item:not(:first-child) {
  margin-left: 50px;
}

.header-page .container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
}

.header-list {
  display: flex;
}
.header-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-contacts {
  margin-left: auto;
}

.header-contact link {
  display: flex;
}

.link {
  text-decoration: none;
  color: inherit;
}

.active-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--hover-color);
}
.header-list-link:hover,
.header-list-link:focus {
  color: var(--hover-color);
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--hover-color);
}

.button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  cursor: pointer;
  padding: 10px 32px;
}
.button:hover,
.button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Основний контент */

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  width: 696px;
  margin-bottom: 30px;
}

.main-block {
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  padding: 200px 0px;
  margin-bottom: 94px;
}

.title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* секція 2 */
/* прихований заголовок*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-two .list-two {
  display: flex;
  justify-content: center;
}

.list-item-two:not(:first-child) {
  margin-left: 30px;
}

.section-two {
  padding-bottom: 94px;
}
.list-two {
  margin-bottom: 94px;
}

.subtitle-two {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}
.text-two {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--text-color);
}

.work-list {
  display: flex;
  justify-content: center;
}
.work-item:not(:first-child) {
  margin-left: 30px;
}

/* наша команда */
.team-list {
  display: flex;
  justify-content: center;
}

.team-item {
  width: 270px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
.team-item:not(:first-child) {
  margin-left: 30px;
}
.subtitle-three {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.text-three {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team {
  background-color: #f5f4fa;
  padding: 94px 0px;
}

/* Портфоліо */
.portfolio-main {
  padding: 94px 0px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio-subtitle {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-main .container .buttons-list {
  display: flex;
  justify-content: center;
}

.buttons-list {
  margin-bottom: 50px;
}
.button-item {
  background: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  cursor: pointer;
  padding: 6px 22px;
}
.button-item:hover,
.button-item:focus {
  background: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--white);
}
.portfolio-buttom:not(:first-child) {
  margin-left: 8px;
}



/* Список проектів */

.projects-list .project-item {
  width: 370px;
  border: 1px solid #eeeeee;
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100%/3-30px);
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
}

.description {
  padding: 20px 24px;
}

/* Футер */
.footer {
  background-color: #2f303a;
  padding: 60px 0px;
}

.footer-logo {
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}
.footer-adres {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--white);
}
.footer-adres:hover,
.footer-adres:focus {
  color: var(--hover-color);
}
.footer-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--hover-color);
}

.addres-list {
  margin-top: 20px;
}
.addres-item {
  margin-bottom: 9px;
}