// BASE
@import "./base/variables";
@import "./base/base";

// UTILS
@import "./utils/hidden";

//COMPONENTS
@import "./components/logo";
@import "./components/buttons";
@import "./components/links";
@import "./components/titles";
@import "./components/projects";
@import "./components/modal";

//LAYOUT
@import "./layout/header";
@import "./layout/main";
@import "./layout/advantages";
@import "./layout/team";
@import "./layout/customers";
@import "./layout/portfolio";
@import "./layout/work";
@import "./layout/footter";