.advantages {
	padding-top: 94px;
	padding-bottom: 94px;
}

@media screen and (min-width:480px) {
	.advantages__list {
			// display: flex;
			justify-content: center;
			// gap: 30px;
	}
}

@media screen and (min-width:768px) {
	.advantages__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 30px;
	}
}

@media screen and (min-width:1200px) {
	.advantages__list {
			display: flex;
			justify-content: center;
			gap: 30px;
	}
}



// .advantages__list {
// 	display: flex;
// 	justify-content: center;
// 	gap: 30px;
// }

// .advantages__item {
// 	width: 270px;
// }

@media screen and (min-width: 768px) {
	.advantages__item {
		width: 354px;
	}
}

@media screen and (min-width: 1200px) {
	.advantages__item {
		width: 270px;
	}
}

.advantages__title {
	font-size: 14px;
	line-height: calc(16 / 14);
	text-transform: uppercase;
	margin-bottom: 10px;
}
.advantages__text {
	font-size: 14px;
	line-height: calc(24 / 14);
	color: var(--text-color);
}

@media screen and (max-width: 767px) {
	.advantages__text{
		margin-bottom: 30px;
	}
}

.advantages__icon {
	height: 120px;
	display: flex;
	margin-bottom: 30px;
	background: #f5f4fa;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
}