/* постійні клієнти */
.customers {
	padding-top: 94px;
	padding-bottom: 94px;
}

.customers__list {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 1199px){
	.customers__list{
		flex-wrap: wrap;
		gap: 30px;
	}
}

@media screen and (min-width: 480px) {
	.customers__item {
		width: 210px;
	}
}

@media screen and (min-width: 768px) {
	.customers__item {
		width: 226px;
	}
}

@media screen and (min-width: 1200px) {
	.customers__item {
		width: 170px;
	}
	.customers__item:not(:last-child) {
		margin-right: 30px;
	}
}


.customers__item {
	height: 92px;
	border: 1px solid $icons;
	border-radius: 4px;
	background-color: $white;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.customers__link {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__icon {
	fill: $icons;
}

.customers__item:hover {
	border-color: $hoverColor;
}
.customers__link:hover .customer__icon {
	fill: $hoverColor;
}