.footer {
	background-color: #2f303a;
	padding: 60px 0px;
}

.footer__logo {
	color: $white;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	text-decoration: none;
	display: block;
	margin-bottom: 20px;
}
.footer__address {
	font-style: normal;
	font-size: 14px;
	line-height: calc(24 / 14);
	color: $white;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address {
	&:hover, &:focus {
	color: $hoverColor;
	}
}
.footer__contacts {
	font-style: normal;
	font-size: 14px;
	line-height: calc(24 / 14);
	color: rgba(255, 255, 255, 0.6);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts {
	&:hover, &:focus {
	color: $hoverColor;
	}
}

.addres__item {
	margin-bottom: 9px;
}

.footer__title {
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $white;
	margin-bottom: 20px;
}

.footer__list {
	display: flex;
	
}

@media screen and (min-width: 480px) and (max-width:767px){
	.footer__list {
		flex-direction: column;
		align-items: center;
	}
	.footer__item{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 60px;
	}
	.addres__list{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.subscribe {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.subscribe__email{
		flex-direction: column;
		align-items: center;
	}
	.input__mail{
		width: 450px;
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 768px) and (max-width:1199px) {
	.footer{
		position: relative;
		height: 464px;
	}
	.footer__list{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 165px;
		justify-content: center;
		align-items: flex-start;
	}
	.footer__item{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.subscribe{
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		bottom: 60px;
		
	}
	.subscribe__email{
		flex-direction: column;
		align-items: center;
	}
	.input__mail{
		width: 450px;
		margin-bottom: 20px;
	}
	}


@media screen and (min-width: 1200px) {
	.footer__list{
		align-items: baseline;
		justify-content: space-between;
	}
	.input__mail{
		margin-right: 12px;
	}
}


.footer__list .social__item {
	background-color: rgba(255, 255, 255, 0.1);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__list .social__item:hover {
	background-color: $hoverColor;
}
.footer__list .social__icon {
	fill: $white;
}

.subscribe__email {
	display: flex;
}

.input__mail {
	
	background-color: transparent;
	color: $white;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	padding: 15px 16px;
	
}

.input-mail:focus {
	outline: 0;
	outline-offset: 0;
	border-color: $hoverColor;
}
.input-mail::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: calc(20 / 16);
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}
.subscribe__button {
	display: flex;
	align-items: center;
	justify-content: center;
}
.subscribe__icon {
	fill: $white;
	margin-left: 10px;
}