.footer {
	background-color: #2f303a;
	padding: 60px 0px;
}

.footer-logo {
	color: $white;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	text-decoration: none;
	display: block;
	margin-bottom: 20px;
}
.footer-address {
	font-style: normal;
	font-size: 14px;
	line-height: calc(24 / 14);
	color: $white;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address {
	&:hover, &:focus {
	color: $hoverColor;
	}
}
.footer-contacts {
	font-style: normal;
	font-size: 14px;
	line-height: calc(24 / 14);
	color: rgba(255, 255, 255, 0.6);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts {
	&:hover, &:focus {
	color: $hoverColor;
	}
}

.addres-item {
	margin-bottom: 9px;
}

.footer-title {
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $white;
	margin-bottom: 20px;
}

.footer-list {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.footer-list .social-item {
	background-color: rgba(255, 255, 255, 0.1);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list .social-item:hover {
	background-color: $hoverColor;
}
.footer-list .social-icon {
	fill: $white;
}

.email-form {
	display: flex;
}

.input-mail {
	width: 358px;
	background-color: transparent;
	color: $white;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	padding: 15px 16px;
	margin-right: 12px;
}

.input-mail:focus {
	outline: 0;
	outline-offset: 0;
	border-color: $hoverColor;
}
.input-mail::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: calc(20 / 16);
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}
.subscribe-button {
	display: flex;
	align-items: center;
	justify-content: center;
}
.subscribe-icon {
	fill: $white;
	margin-left: 10px;
}