.header__page {
	border-bottom: 1px solid #ececec;
	padding: 24px 0px;
}

.header__item:not(:first-child) {
	margin-left: 50px;
}

.header__page .container {
	display: flex;
	align-items: center;
}

.header__logo {
	margin-right: 93px;
}

.header__logo {
	color: #000000;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	text-decoration: none;
}

.header__list {
	display: flex;
}
.header__link {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: $mainTextColor;
	position: relative;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	padding: 32px 0;
}

.header__contacts {
	margin-left: auto;
}


.header__link {
	&:hover &:focus {
	color: $hoverColor;
	}
}

.header__contact {
	display: flex;
	// align-items: center;
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: $textColor;
	margin-left: 50px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__item {
	display: flex;
	align-items: center;
	justify-content: center;
}
// .icon-mail {
// 	margin-top: auto;
// }

.header__contact {
	&:hover, &:focus {
	color: $hoverColor;
	}
}
.contact__icon {
	fill: $textColor;
	margin-right: 10px;
}
.header__contact:hover .contact__icon {
	fill: $hoverColor;
}

@media screen and (max-width: 767px){
	.header__list{
		display: none;
	}
	.contact__list {
		display: none;
	}

}

@media screen and (min-width: 480px) {
	
}

@media screen and (min-width: 768px) {
	.contact__list {
		display: flex;
		flex-direction: column;
	}
	.contact__item {
		margin-bottom: 10px;

	}
	.header__contact{
		font-size: 12px;
		line-height: calc(14/12);
		letter-spacing: 0.02em;
		align-items: center;
	}
}

@media screen and (min-width: 1200px) {
	.contact__list {
		flex-direction: row;
		margin-bottom: 0px;
	}
}
