.header-page {
	border-bottom: 1px solid #ececec;
	padding: 24px 0px;
}

.header-list-item:not(:first-child) {
	margin-left: 50px;
}

.header-page .container {
	display: flex;
	align-items: center;
}

.header-logo {
	margin-right: 93px;
}

.header-logo {
	color: #000000;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	text-decoration: none;
}

.header-list {
	display: flex;
}
.header-list-link {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: $mainTextColor;
	position: relative;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	padding: 32px 0;
}

.header-contacts {
	margin-left: auto;
}

.contact-list {
	display: flex;
}

.header-list-link {
	&:hover &:focus {
	color: $hoverColor;
	}
}

.header-contact {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: $textColor;
	margin-left: 50px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item {
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon-mail {
	margin-top: auto;
}

.header-contact {
	&:hover, &:focus {
	color: $hoverColor;
	}
}
.header-icon {
	fill: $textColor;
	margin-right: 10px;
}
.header-contact:hover .header-icon {
	fill: $hoverColor;
}