.link {
	text-decoration: none;
	color: inherit;
}

.header__link--active {
	color: $hoverColor;
}

.header__link--active::after {
	position: absolute;
	content: " ";
	height: 4px;
	width: 100%;
	background: $hoverColor;
	border-radius: 2px;
	bottom: 0px;
	left: 0;
	display: block;
}