.socials {
	display: flex;
	justify-content: center;
}
.social__item {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: transparent;
	margin-right: 10px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__item:last-child {
	margin-right: 0px;
}

.social__icon {
	fill: $icons;
}
.social__link {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social__item:hover {
	background-color: $hoverColor;
}

.social-link:hover .social__icon {
	fill: $white;
}